<div class="max-w-7xl mx-auto my-16 rounded-3xl bg-blue-500">
	
	<div class="flex flex-wrap p-6 lg:p-10 space-y-6 lg:space-y-0">

		<div class="w-full md:w-3/5 lg:pr-10 text-white">

			<h3 class="text-2xl font-semibold mb-4">订阅更新，不错过硬核内容</h3>

			<p>加入 AceBase 玩家社区，获取 CS2 教程、选手配置与电竞硬件资讯。输入邮箱即可订阅。</p>

		</div>



		<div class="self-center flex flex-col w-full md:w-2/5">

			<form class="block lg:flex space-y-6 lg:space-y-0 lg:space-x-4">

				<input class="w-full lg:w-3/5 px-6 py-2 rounded-full" type="email" placeholder="邮箱地址">

				<button class="w-full lg:w-2/5 px-6 py-2 rounded-full bg-white" type="button">订阅</button>

			</form>
		</div>
		
	</div>

</div>
